body {
  background-color:#efd0ec;
  background-image: url("https://raw.githubusercontent.com/paigemarie12/iwannagohome/gh-pages/tile.png");
}

a {
  color:#2ad6d3;
}

a:hover{ 
  color:#0d18e8;
}

h1 {
  color:#ed1e3a;
}

p {
  color:#9e2778;
}

h2 {
  color:#541d49;
}

ol {
    width: 500px;
    padding-left: 0px;
    float: right;
}


:hov

.cls

p {
    width: 560px;
    display: inline;
}

h3 {
    width: 500px;
    padding-left: 0px;
    float: right;
    height: 54px;
}

ul {
    float: right;
    width: 500px;
    padding-left: 0px;
}

li {
  display:inline;
}
    
ul {
  list-style-type:none;
  margin: 0px;
  padding; 0px;
}

li {
  display:inline;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: #f2296f;
}

ul {
  background-color: #f2296f;
}

li a:hover {
  background-color:#111;
}

.active {
  background-color: #f2296f;
}

ul {
  top:0;
  width:100%;
}

.rcorners {
  border-radius: 25px;
  background: url("http://vignette4.wikia.nocookie.net/spongebob/images/d/dd/Spongebob_Squarepants_Texas_Song/revision/latest?cb=20121005040410");}
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}
