body {background-color:#efd0ec;
background-image: url{"https://raw.githubusercontent.com/paigemarie12/iwannagohome/gh-pages/tile.png"};
a{color:#2ad6d3;}
a:hover{color:#c84bf2;}
h1{color:#ed1e3a;}
p{color:#9e2778;}
h2{color:#541d49;}
